.cabeçalho{
    background-color: #FF9E9E ;
padding: 0px;
margin: 0px;
height: 250px;
background;
display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;
}

.titulo-corpo{
    display: flex;
justify-content: center;
}

.div-imagem-p1{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 25px;
justify-content: space-around;
}
.heder {
    height: 250px;
    align-items: center;
    background-color: #FF9E9E;
    display: flex;
  } 
  .imagem-cabeçalho {
    height: 170px;
    left: 70px;
    position: absolute;
    width: 300px;
    top: 17px;
  }